@font-face {
    font-family: InterBlack;
    src: url('./Fonts/Inter/Inter-Black.ttf');
  }

  @font-face {
    font-family: InterBold;
    src: url('./Fonts/Inter/Inter-Bold.ttf');
  }

  @font-face {
    font-family: InterExtraBold;
    src: url('./Fonts/Inter/Inter-ExtraBold.ttf');
  }

  @font-face {
    font-family: InterExtraLight;
    src: url('./Fonts/Inter/Inter-ExtraLight.ttf');
  }

  @font-face {
    font-family: InterLight;
    src: url('./Fonts/Inter/Inter-Light.ttf');
  }

  @font-face {
    font-family: InterMedium;
    src: url('./Fonts/Inter/Inter-Medium.ttf');
  }

  @font-face {
    font-family: InterRegular;
    src: url('./Fonts/Inter/Inter-Regular.ttf');
  }

  @font-face {
    font-family: InterSemiBold;
    src: url('./Fonts/Inter/Inter-SemiBold.ttf');
  }

  @font-face {
    font-family: InterThin;
    src: url('./Fonts/Inter/Inter-Thin.ttf');
  }

