@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";

.h1 {
    font-family: Sequel 100 Wide;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 76px;
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.h2 {
    font-family: Sequel 100 Wide;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: -0.5px;
}

.h3 {
    font-family: Sequel 100 Wide;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
}

.h4 {
    font-family: Sequel 100 Wide;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 36px;
    display: flex;
    align-items: center;
}

.h5 {
    font-family: Sequel 100 Wide;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.h6 {
    font-family: Sequel 100 Wide;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.h7 {
    font-family: InterSemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.h8 {
    font-family: InterSemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.h9 {
    font-family: InterSemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
}

.p1 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.p2 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.p3 {
    font-family: Inter;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.p4 {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

.button1 {
    font-family: InterMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.button2 {
    font-family: InterSemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}

.medium {
    font-family: InterMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.02em;
}

.semiBold {
    font-family: InterSemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
}

.input1 {
    font-family: InterMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.input2 {
    font-family: InterRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}

.input3 {
    font-family: InterSemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.controls1 {
    font-family: InterRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.mobileB2Regular {
    font-family: InterRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;  
}

.mobileB3Semibold {
    font-family: InterSemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.mobileP1 {
    font-family: InterRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;    
}

.mobileP2 {
    font-family: InterRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;   
}

.mobileH4 {
    font-family: Sequel 100 Wide;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.01em;
}

.mobileH5 {
    font-family: Sequel 100 Wide;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.01em;
}
